body,
html {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

html {
  width: 100%;
  height: 100%;
}

html {
  display: flex;
  align-items: center;
}

body {
  width: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.leftside {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(41, 42, 46);
  border-radius: 15px;
  height: 350px;
  margin-right: 50px;
  height: 150px;
  color: rgb(90, 178, 241);
}

.leftside .ul li {
  text-align: center;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 300px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
}

.screen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgb(51, 56, 62);
  border-radius: 10px;
  color: rgb(227, 227, 227);
  margin-bottom: 10px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.Keyboard {
  margin-bottom: 10px;
  color: rgb(195, 238, 208);
}

span {
  color: rgb(227, 227, 227);
}

.prevResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 10px 5px 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  box-sizing: border-box;
  height: 39px;
  font-size: 23px;
}

.result {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  padding: 5px;
  overflow: hidden;
}

.body {
  margin-top: 5px;
  padding: 2px;
}

.input {
  height: 334px;
  box-sizing: border-box;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  display: -ms-grid;
  display: grid;
  -webkit-transition: 1s;
  transition: 1s;
}

.input div {
  box-sizing: border-box;
  border-radius: 50%;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 23px;
  cursor: pointer;
}

.negative,
.add,
.subtract,
.multiply,
.factorize,
.negative,
.add,
.divide {
  background-color: rgb(90, 178, 241);
}

.equal {
  background-color: rgb(211, 227, 253);
}

.AC {
  background-color: rgb(195, 238, 208);
}
.container {
  background-color: rgb(31, 31, 31);
}

[data-number],
.comma,
.delete {
  background-color: rgb(41, 42, 46);
  color: rgb(139, 140, 142);
}

[data-number]:active,
[data-operation]:active,
.equal:active,
.factorize:active,
.negative:active,
.AC:active,
.comma:active,
.delete:active {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.2" /><feFuncG type="linear" slope="1.2" /><feFuncB type="linear" slope="1.2" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
  -webkit-animation: Animasi 1s;
  animation: Animasi 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* Animasi pencet Number */
@-webkit-keyframes Animasi {
  0% {
    border-radius: 50%;
  }
  12.5% {
    border-radius: 40%;
  }
  25% {
    border-radius: 30%;
  }
  100% {
    border-radius: 25%;
  }
}
@keyframes Animasi {
  0% {
    border-radius: 50%;
  }
  12.5% {
    border-radius: 40%;
  }
  25% {
    border-radius: 30%;
  }
  100% {
    border-radius: 25%;
  }
}
